.navbar.navbar-expand-lg.navbar-light.bg-secondary
  = link_to "Finance Tracker", root_path, class: "navbar-brand"
  - if current_user
    %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "My Portfolio", my_portfolio_path, class: "nav-link"
        %li.nav-item
          = link_to "My Profile", edit_user_registration_path, class: "nav-link"
        %li.nav-item
          = link_to "My Friends", my_friends_path, class: "nav-link"
      %ul.navbar-nav.my-2.my-lg-0
        %li.nav-item
          .nav-link
            %i.fa.fa-user
            = current_user.full_name != "Anonymous" ? current_user.full_name : current_user.email
        %li.nav-item
          = link_to "logout", destroy_user_session_path, method: :delete,
                              class: "btn btn-sm btn-danger nav-link"
        %li.nav-item.active
